<!DOCTYPE html>
<html>
    <%- include("./partials/head.ejs") %>
    <body>
        <h1>Pokedex!!</h1>
        <% for(let i =0; i< allpokemon.length; i++) { %> 
        
        <a href="/pokemon/<%=i%>"><h3><%=allpokemon[i].name %> </h3>
            <img src="<%= allpokemon[i].img%>" alt="<%= allpokemon[i].name %>"/>
        <% } %> 
    </body>
</html>