<h1><%= poke.name%></h1>

<img src="<%= poke.img%>" alt="<%= poke.name %>"/>

<a href="/pokemon"><button>Home</button></a>

<div>
  <div>
    Type:
      <ul>
        <% poke.type.forEach(e => {%>
          <li><%=e%></li>
        <% });
        %>
      </ul>
  </div>
  <div>
    Stats:
      <ul> 
        <li> HP: <%= poke.stats.hp%> </li>
        <li> Attack: <%= poke.stats.attack%> </li>
        <li> Defense: <%= poke.stats.defense%> </li>
        <li> SpAttack: <%= poke.stats.spattack%> </li>
        <li> SpDefense: <%= poke.stats.spdefense%> </li>
        <li> Speed: <%= poke.stats.speed%> </li>
      </ul>
  </div>
</div>
