<%- include("./partials/head.ejs") %>
<h1><%= poke.name%></h1>
<div class="show">
<img src="<%= poke.img%>" alt="<%= poke.name %>"/>




  <div class="showType">
    Type:
      <ul>
        <% poke.type.forEach(e => {%>
          <li><%=e%></li>
        <% });
        %>
      </ul>
  </div>
  <div class="showStats"> 
    Stats:
      <ul> 
        <li> HP: <%= poke.stats.hp%> </li>
        <li> Attack: <%= poke.stats.attack%> </li>
        <li> Defense: <%= poke.stats.defense%> </li>
        <li> SpAttack: <%= poke.stats.spattack%> </li>
        <li> SpDefense: <%= poke.stats.spdefense%> </li>
        <li> Speed: <%= poke.stats.speed%> </li>
      </ul>
  </div>
  <a href="/pokemon"><button>Home</button></a>
  
</div>
